.booking-page-container
{
    height: 100%;
    width: 100%;
}
.booking-page-header
{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2%;
        margin-right: 90%;
}
.booking-page-tab span
{
    padding: 0.5% 12.8%;
    font-size: 15px;
    margin-right: 29%;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    cursor: pointer;
}
.booking-page-tab{
    position: absolute;
}
.active-booking
{
    background: #5162F62E!important;
    color: #5162F6!important;
    border: none!important;
}
.booking-page-sub
{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 20px;
    font-weight: 500;
    margin-right: 90%;
    width: 137px;
}
.booking-item
{
    height: 19vh;
    padding: 10px 40px 10px 10px;
    width: 100%;
    border: 1px solid #DDDEDE;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.booking-img
{
    height: 100%;
    width: 12%;
    position: relative;
}
.booking-img img
{
    width: 100%;
    border-radius: 12px;
    height: 100%;
}
.booking-content-container
{
    height: 100%;
    width: 66%;
}
.kanini-logo-booking
{
    display: flex!important;
    justify-content: flex-start!important;
    flex-wrap: wrap!important;
}
.kanini-logo-booking p
{
    margin-top: 1px!important;
    margin-right: 5px;
}
.kanini-logo-booking span:nth-child(1)
{
    color: #626D8A!important;
    display: flex!important;
    width: 6.5vw!important;
    font-size: 14px!important;
}
.kanini-logo-booking span:nth-child(2)
{
    font-size: 16px!important;
    margin-left: 2px!important;
    margin-top: -2px!important;
    font-weight: 500!important;
}
.booking-meeting-name
{
    padding: 1% 0%;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
}
.booking-acc-span{
    text-align: left;
}
.booking-button-container
{
    width: 17%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}
.booking-button-container .booked-button
{
    font-size: 14px;
    color: white;
    background: #5162F6;
    padding: 3% 4%;
    border-radius: 5px;
    cursor: pointer;
}
.booking-acc-span span
{
    margin-right: 2%;
    font-size: 13px;
    font-weight: 500;
}
.booking-acc-span span img
{
    margin-bottom: 3px;
}
.booking-img div img
{
    width: 11px!important;
    border-radius: 0!important;
    height: 11px!important;
    margin-right: 3px;
    margin-bottom: 3px;
}
.booking-img div
{
    position: absolute;
    margin-top: -68%;
    margin-left: 5%;
    padding: 1% 4%;
    border-radius: 4px;
    font-size: 11px;
    background-color: white;
}
.checked-in
{
    display: flex;
    color: #00D56E;
    flex-wrap: wrap;
    align-content: center;
    margin-right: 14%;
    font-size: 14px;
}
.checked-out
{
    display: flex;
    color: #00D56E;
    flex-wrap: wrap;
    align-content: center;
    font-size: 14px;
}
.checked-out img
{
    margin-top: 3px;
    margin-right: 3px;
}
.checked-in img
{
    margin-top: 3px;
    margin-right: 3px;
}
.modal-close-header
{
    width: 100%;
    display: flex;
    font-size: 18px;
    padding: 3% 0%;
    border-bottom: 1px solid #CED0DB;
    font-weight: 500;
    justify-content: space-between;
}
.modal-close-header
{
    cursor: pointer;
}
.modal-sub-book
{
    display: flex;
}
.success-modal-check
{
    display: flex;
    margin-left: 2%;
}
.success-modal-check p
{
    margin-right: 6%;
}
.modal-sub-book
{
    margin-top: 4%!important;
}
.modal-sub-book div:nth-child(1)
{
    font-size: 16px!important;
    font-weight: 500!important;
}
.success-modal-check span:nth-child(2)
{
    font-weight: 500!important;
    font-size: 17px!important;
}
.modal-sub2-book span:nth-child(1)
{
    margin-right: 3%;
    font-size: 14px;
    font-weight: 500;
}
.modal-sub2-book span img
{
    margin-bottom: 3px;
}
.modal-sub2-book span:nth-child(2)
{
    font-size: 14px;
    font-weight: 500;
}
.check-modal-book
{
    margin-top: 10%;
    margin-bottom: 6%;
}
.check-modal-book span:nth-child(1)
{
    color: white;
    background-color: #5162F6;
    padding: 2% 5%;
    font-size: 15px;
    border-radius: 7px;
    margin-right: 5%;
    cursor: pointer;
}
.check-modal-book span:nth-child(2)
{
    color: #626D8A;
    font-size: 16px;
    cursor: pointer;
}